.selectFilter {
  width: 150px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  margin-top: -30px;
  margin-left: -20px;
  border: solid 1px #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
}

.selectFilter option {
  color: #0290ff;
  font-size: 17px;
}
